{#
/**
 * @file
 * Theme override for a person card on a department detail page.
 *
 * @see templates/content/node--view--about-lits-staff--embed-1.html.twig
 */
#}
<article class="service-desk-person grid-item">
  <div class="department-person-photo">
    {{ content.field_staff_image }}
  </div>
  <div class="department-person-info">
    <h3><a href="{{ url }}">{{ label }}</a></h3>
    {{ content.field_professional_title }}
  </div>
</article>
