/**
 * @file
 * Layout rules for main navigation.
 */

#main-menu-toggle-expand {
  padding: 0.5rem 0;
}

nav#block-lits-theme-mainnavigation {
  width: 100%;

  ul {
    @include list-reset;
  }

  #main-nav {
    display: none;

    @include breakpoint($medium-width) {
      display: block;

      & > ul.main-menu {
        display: grid;
        grid-template-areas: "materials research techsupport places teachingsupport";
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }
}

.main-submenu--wrapper {
  @include breakpoint($medium-width) {
    position: absolute;
    z-index: 2;
  }
}
