{% set menu_class = 'main-menu' %}
{% if not menu_modifiers %}
  {% set menu_modifiers = [] %}
{% endif %}
<a href="#" id="main-menu-toggle-expand" class="toggle-expand">
  <span class="toggle-expand__open">
    <i class="fas fa-bars"></i>
    <span class="toggle-expand__text">Main menu</span>
  </span>
  <span class="toggle-expand__close">
    <i class="fas fa-xmark"></i>
    <span class="toggle-expand__text">Close main menu</span>
  </span>
</a>
<div id="main-nav" class="main-nav">
  {% embed "@elements/03-lists/00-ul.twig" with {
    ul_base_class: menu_class,
    ul_modifiers: menu_modifiers,
    ul_blockname: menu_blockname,
  } %}
    {% block list_content %}
      <li id="main-menu_hours-accounts" class="main-menu__item main-menu__item--root">
        <div><a class="hours" href="/about-lits/service-desks">LITS hours</a></div>
        <div id="main-menu_hours-accounts-divider"><span></span></div>
        <div><a class="accounts" href="/my-library-accounts">My library accounts</a></span></div>
      </li>
      {% for item in items %}
        {% include "@compounds/main-menu/main-menu-item-root.twig" with {
          item: item
        } %}
      {% endfor %}
    {% endblock %}
  {% endembed %}
</div>
