<div id="newsbar" class="layout-stripe newsbar-sidebar-side">
  <div id="news-events" class="layout-zone">
    <h2>News &amp; events</h2>
    {{ content.field_news_items }}
    <a class="see-all-posts" href="/news">
      <i class="fas fa-calendar-days" aria-hidden="true"></i>
      <span>See all posts</span>
    </a>
  </div>

  {{ content.field_featured_resources }}
</div>
