{#
/**
 * @file
 * Theme override for an embedded video field.
 *
 * @see templates/field/field--media--remote-video.html.twig
 * @see template_preprocess_field()
 */
#}
{% if label_display == 'visually_hidden' %}
  {% set title_attributes = title_attributes.addClass('visually-hidden') %}
{% endif %}
{% if label and not label_hidden %}
  <div{{ title_attributes }}>{{ label }}</div>
{% endif %}
{% for item in items %}
  <div{{ attributes.addClass(['iframe-container']) }}>{{ item.content }}</div>
{% endfor %}
