{#
/**
 * @file
 * Theme override to display a person node.
 *
 * @see templates/content/node.html.twig
 * @see template_preprocess_node()
 */
#}
<div class="person-wrapper">
{% include "@compounds/person/_person-page-content.twig" %}
</div>
