/**
 * @file
 * Styles for LITS site branding link in the masthead.
 */

.logobar-branding-wrap {
  margin: auto 0; // center the "LITS" vertically
  flex: 1 1 auto;

  @include breakpoint($medium-width) {
    justify-items: center;
  }

 a {
    display: block;
    margin-bottom: 0.5rem; // because of the underline on the logo, perfectly centering "LITS" is too low @see _header.scss for accompanying rule for the topnav items
    font-size: $logo-font-size; // to match 'c' in logo
    padding-left: $header-gap;
    font-family: 'Chronicle', helvetica, serif;
  }
}
