// // Start libs
// // Better style reset
// @import "normalize"; // comes for free from core now??
// // Grid system, https://github.com/at-import/Singularity
@import "singularitygs/stylesheets/singularitygs";
// // A cleaner way to do breakpoints/media queries, http://breakpoint-sass.com/
@import "breakpoint-sass/stylesheets/breakpoint";
// // End libs

// TODO remove this, I'm just adding it to prove that we're on the right track
.layout-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
// END TODO remove this

@import "./00-particles/**/*.scss";
@import "./01-elements/**/*.scss";
@import "./02-compounds/**/*.scss";
