.featured-resources-wrapper.deprecated {
    
  background-color: $pale-gray;
  $gap: 0.5em;
  
  .field-resources {
    $gap: 0.5em;
    display: flex;
    flex-flow: row wrap;

    &>* {
      flex: 1 1 48%;
      max-width: calc(100% - (2 * $gap));
      margin: $gap;
    }

    &.layout-zone {
      margin: -1 * $gap;
    }

    .resource-list,
    .featured-resources-wrapper,
    .featured-resources {
      height: 100%;
    }

    .featured-resources-wrapper {
      margin: 0;
      padding: 0;
    }
  }

  .has-link-tiles {
    $gap: 0.5em;
    // .layout-stripe sets width 100%, margin 0, padding 0.
    padding-bottom: 2rem;
    // Contains div.layout-zone for squishy edges.

    h2 {
      margin-top: 0;
      text-align: center;
    }

    ul {
      @include list-reset;

      display: flex;
      flex-flow: row wrap;
      margin: -1 * $gap;
    }

    li {
      margin: $gap;
      flex: 1 1 26%;
      min-width: 8rem;
      min-height: 11rem;

      .fontawesome-icons {
        text-align: center;
        min-height: 3rem;
      }

      a {
        border-radius: 0;
        background-color: $white;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        word-break: break-word;
        padding: 1rem;

        @include breakpoint($large-width) {
          padding: 1rem calc(0.25 * 1rem);
        }

        & {
          @include link-on-gray;
        }

        svg,
        i {
          font-size: 3rem;
          margin: 0 auto;
        }

        span {
          padding-top: 1rem;
          text-align: center;
          font-weight: bold;
        }
      }
    }

    &.featured-resources {
      padding: 1em;
      background-color: $pale-gray;

      // Grouping border
      &.raspberry {
        border-top: 4px solid $raspberry;
      }

      &.light_blue {
        border-top: 4px solid $light-blue;
      }

      &.light_green {
        border-top: 4px solid $light-green;
      }

      &.yellow {
        border-top: 4px solid $yellow;
      }

      &.light_orange {
        border-top: 4px solid $light-orange;
      }

      // Tile borders
      li {
        &:nth-child(6n+1) a {
          border-top: 4px solid $raspberry;
        }

        &:nth-child(6n+2) a {
          border-top: 4px solid $gray;
        }

        &:nth-child(6n+3) a {
          border-top: 4px solid $light-blue;
        }

        &:nth-child(6n+4) a {
          border-top: 4px solid $light-green;
        }

        &:nth-child(6n+5) a {
          border-top: 4px solid $light-orange;
        }

        &:nth-child(6n+6) a {
          border-top: 4px solid $red;
        }
      }
    }
  }


  .featured-resources {
    background-color: transparent;
  }

  li {
    &:nth-child(6n+1) a {
      border-top: 4px solid $raspberry;

      svg,
      i {
        color: $raspberry;
      }
    }

    &:nth-child(6n+2) a {
      border-top: 4px solid $gray;

      svg,
      i {
        color: $gray;
      }
    }

    &:nth-child(6n+3) a {
      border-top: 4px solid $light-blue;

      svg,
      i {
        color: $light-blue;
      }
    }

    &:nth-child(6n+4) a {
      border-top: 4px solid $light-green;

      svg,
      i {
        color: $light-green;
      }
    }

    &:nth-child(6n+5) a {
      border-top: 4px solid $light-orange;

      svg,
      i {
        color: $light-orange;
      }
    }

    &:nth-child(6n+6) a {
      border-top: 4px solid $red;

      svg,
      i {
        color: $red;
      }
    }

    &.tdx-tile {
      width: calc(100% - (2 * $gap));

      svg,
      i {
        overflow: visible;
        box-sizing: content-box;
        display: var(--fa-display, inline-block);
        height: 2em;
        vertical-align: -0.125em;
      }

      img {
        height: 5em;
        margin: auto;
      }

      a {
        border-top: 4px solid $dark-blue !important;
      }
    }
  }
}
