.field-resources {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;

  &.layout-zone {
    margin: 1em 0;
  }

  @include breakpoint($small-width) {
    grid-template-columns: repeat(2, 1fr);
  }

  .resource-list,
  .featured-resources-wrapper,
  .featured-resources {
    height: 100%;
  }
  
  .featured-resources-wrapper {
    margin: 0;
    padding: 0;
  }
}

.has-link-tiles {
  // .layout-stripe sets width 100%, margin 0, padding 0.
  padding-bottom: 2rem;
  // Contains div.layout-zone for squishy edges.

  h2 {
    margin-top: 0;
    text-align: center;
  }
  
  ul {
    @include list-reset;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  li {
    flex: 1 1 auto;
    width: 100%;
    margin: 0.5rem;

    @include breakpoint($small-width) {
      width: 41%;
    }

    @include breakpoint($medium-width) {
      width: 31%;
    }

    @include breakpoint($large-width) {
      width: 26%;
      min-height: 10rem;
    }

    .fontawesome-icons {
      text-align: center;
    }

    a {
      border-radius: 0;
      background-color: $white;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      word-break: break-word;
      padding: 1rem;

      @include breakpoint($large-width) {
        padding: 1rem calc(0.25 * 1rem);
      }

      & {
        @include link-on-gray;
      }

      svg, i {
        font-size: 3rem;
        margin: 0 auto;
      }

      span {
        padding-top: 1rem;
        text-align: center;
        font-weight: bold;
      }
    }

    &:nth-child(6n+1) a {
      border-top: 4px solid $raspberry;
      
      svg, i {
        color: $raspberry;
      }
    }

    &:nth-child(6n+2) a {
      border-top: 4px solid $gray;
      
      svg, i {
        color: $gray;
      }
    }

    &:nth-child(6n+3) a {
      border-top: 4px solid $light-blue;
      
      svg, i {
        color: $light-blue;
      }
    }

    &:nth-child(6n+4) a {
      border-top: 4px solid $light-green;
      
      svg, i {
        color: $light-green;
      }
    }

    &:nth-child(6n+5) a {
      border-top: 4px solid $light-orange;
      
      svg, i {
        color: $light-orange;
      }
    }

    &:nth-child(6n+6) a {
      border-top: 4px solid $red;
      
      svg, i {
        color: $red;
      }
    }

    &.tdx-tile {
      width: 100%;

      svg, i {
        overflow: visible;
        box-sizing: content-box;
        display: var(--fa-display, inline-block);
        height: 2em;
        vertical-align: -0.125em;
      }

      img {
        height: 5em;
        margin: auto;
      }

      a {
        border-top: 4px solid $dark-blue !important;
      }
    }
  }

  &.featured-resources {
    padding: 1em;
  }

  &.raspberry {
    background-color: $raspberry;
    color: $white;

    a {
      border-top: none !important;
      box-shadow: none;
    }
  }

  &.light_blue {
    background-color: $light-blue;
    color: $charcoal;

    a {
      border-top: none !important;
      box-shadow: none;
    }
  }

  &.light_green {
    background-color: $light-green;
    color: $charcoal;

    a {
      border-top: none !important;
      box-shadow: none;
    }
  }
  
  &.yellow {
    background-color: $yellow;
    color: $charcoal;

    a {
      border-top: none !important;
      box-shadow: none;
    }
  }
  
  &.light_orange {
    background-color: $light-orange;
    color: $charcoal;

    a {
      border-top: none !important;
      box-shadow: none;
    }
  }
}
