<div class="featured-resources-wrapper layout-zone sidebar-side">
  <div class="featured-resources has-link-tiles">
    <h2>Featured resources</h2>
    <ul>
      <li class="tdx-tile">
        <a href="https://asklits.mtholyoke.edu/TDClient/50/Portal/Home/">
          <img src="{{ jorge_image_url }}" />
          <span>AskLITS portal</span>
        </a>
      </li>
      {% for item in items %}
        {% include "@compounds/featured-resources/_featured-resource-tile.twig" with {
            "item": item
          } %}
      {% endfor %}
    </ul>
  </div>
</div>
