#block-lits-theme-homepageintro {
  $offset: 4em;

  .scaling-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% 30%;
    height: 4 * $offset;
  }

  p {
    margin: 0;
  }

  h1 span {
    background: white;
    font-size: 0.85rem;
    display: block;
    margin: 0.75em 0 1.25em 0;
    padding: 1rem;
    font-weight: normal;
  }

  .word-group {
    text-align: center;
    font-weight: bold;
    background: $yellow;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 3em 1em;

    @include breakpoint($small-width) {
      width: 100%;
      max-width: 40em;
      margin: (-2 * $offset) auto 0 auto;
    }

    @include breakpoint($large-width) {
      max-width: 25em;
      margin-left: (-1 * $offset);
    }
  }

  .homepageintro-body a {
    @include button(
      $bg: $dark-blue,
    );
  }
}
