#block-lits-theme-homepageintro {
  $offset: 4em;

  padding: $offset $offset $offset 0;
  background-size: 110% auto;
  background-position-y: 24%;
  margin: 1em 0 0 $offset;

  p {
    margin: 0;
  }

  h1 span {
    background: white;
    font-size: 0.85rem;
    display: block;
    margin: 0.75em 0 1.25em 0;
    padding: 1rem;
    font-weight: normal;
  }

  .word-group {
    text-align: center;
    font-weight: bold;
    background: $yellow;
    width: 33%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 3em 1em;
    margin-left: calc($offset * -1);
  }

  .homepageintro-body a {
    @include button(
      $bg: $dark-blue,
    );
  }
}
