#block-lits-theme-homepageintro {
  $offset: 4em;

  & {
    background-size: 0;

    @include breakpoint($small-width) {
      background-size: 110% auto;
      background-repeat: no-repeat;
      background-position: -70% 24%;
      margin: 1em 0 0 $offset;
      padding: $offset $offset $offset 0;
    }
  }

  p {
    margin: 0;
  }

  h1 span {
    background: white;
    font-size: 0.85rem;
    display: block;
    margin: 0.75em 0 1.25em 0;
    padding: 1rem;
    font-weight: normal;
  }

  .word-group {
    text-align: center;
    font-weight: bold;
    background: $yellow;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 3em 1em;

    @include breakpoint($small-width) {
      width: 100%;
      max-width: 15em;
      margin-left: calc($offset * -1);
    }

    @include breakpoint($medium-width) {
      max-width: 25em;
      width: 50%;
    }
  }

  .homepageintro-body a {
    @include button(
      $bg: $dark-blue,
    );
  }
}
