/**
 * @file
 * Styles for header elements.
 *
 * @see _masthead.scss
 * @see header.twig
 * @see header.js
 */
 
/* Fix node preview pages to keep the preview controls from overtaking the header. */
.node-preview-container {
  position: relative;
}

header#page-header {

  /* 0. Site alerts */
  #block-lits-theme-litssitealertblock {
    display: none;
    word-break: break-word;

    .alert-active & {
      display: block;
    }

    &.emergency {
      background-color: $white;
      position: relative;
      z-index: 2;

      #site-alert-container {
        background-color: $white;
        border: 3px solid $raspberry;
        margin: 10px;
        outline: 10px solid $white;
        padding: 1.5em;
        max-width: 100%;

        .mhc-alert-level-emergency {
          font-size: 1rem;
          line-height: 1.6em;
          margin: 0 auto;
          padding: 5px 20px 5px;
          text-align: left;
          z-index: 1;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: flex-start;
          max-width: 75rem;

          .fa-circle-exclamation {
            color: $raspberry;
            font-size: 3.25rem;
            margin: 0 1.25rem;
          }

          .text {
            margin: -1em 1.25rem;
            font-size: 1rem;
          }

          .buttons {
            display: flex;
            flex-flow: row wrap;
          }

          .button {
            background-color: $white;
            color: $charcoal;
            border: 3px solid $raspberry;
            font-size: 1rem;
            font-weight: 500;
            padding: 1.25em;
            text-transform: uppercase;
            margin-right: 0.5em;

            &:hover {
              background-color: $raspberry;
              color: $white;
            }
          }
        }
      }
    }
  }

  /* I. Logobar */

  #logobar {
    // .layout-stripe sets width 100%, margin 0, padding 0.
    @include dark-blue-stripe;

    a,
    button,
    button svg {
      @include focus($white);
    }
  }

  #logobar-container {
    // .layout-zone sets clearfix and squishy edges.
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: $logo-container-height;
  }

  /* I.A. Logobar > Logo section */

  #logobar .logo-container {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: $header-gap;

    @include breakpoint($small-width) {
      flex-flow: row nowrap;
    }

    & > * {
      flex: 0 0 auto;
    }

    // On interior pages, there's always other stuff in the logobar
    // Use wordmark logo only above small width
    @include breakpoint($medium-width) {
      justify-content: flex-start;
      align-items: center;

      & #logo {
        display: flex; // pretty much just to vertically center the svg block element
      }
    }

    @include breakpoint($medium-width) {
      // at breakpoint on homepage, more stuff shows up in logobar so left align logo.
      body.lits_homepage & {
        justify-content: flex-start;
      }
    }

    & #logo {
      margin-top: $header-gap;
      margin-bottom: $header-gap;

      & img {
        height: $logo-height;
        display: block;// must be block; inline-block reserves vertical height for hanging letters, which we do not want
        margin: auto;
      }
    }
  }

  /* I.B. Logobar > TopNav section */

  #logobar .topnav-container {
    $font-size-nav-links: 1rem;
    margin: auto 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    gap: $header-gap;

    @include breakpoint($small-width) {
      flex-flow: row wrap;
    }

    & li {
      display: none;
      margin: auto;

      &.search-toggle-container {
        display: inline-block;
      }

      @include breakpoint($medium-width) {
        display: inline-block;
      }

      a,
      button {
        font-size: $font-size-nav-links;
      }

      // Don't flash/repaint when FontAwesome replaces the i with svg
      i,
      svg {
        display: inline-block;
        width: $font-size-nav-links; 
      }

      .lits_homepage &.search-toggle-container {
        display: none;
      }
    }

    .toggle {
      @include link-bluebg;

      & {
        background: none;
        border: none;
        display: inline-block;

        .fa-xmark {
          display: none;
        }

        .fa-magnifying-glass {
          display: inline;
          font-size: 1.5rem;
          height: 1.5rem;
          width: 1.5rem;
          vertical-align: middle;
        }
      }

      &[aria-expanded="true"] {
        .fa-xmark {
          display: inline;
          font-size: 1.5rem;
          height: 1.5rem;
          width: 1.5rem;
          vertical-align: middle;
        }

        .fa-magnifying-glass {
          display: none;
        }
      }
    }

    #block-lits-theme-scamalert a {
      @include button($bg: $raspberry, $border: 3px solid $white)
    }
  }
  /* III. Search and menu container */
  #search-and-menu {
    display: flex;
    flex-flow: column nowrap;

    .lits_homepage & {
      flex-direction: column-reverse;
    
      @include breakpoint($medium-width) {
        flex-direction: column;
      }
    }

    #my-lits-container {
      $button-and-panel-padding: 1.5rem; // match _unified-search-form.scss
      display: none;
      background-color: $white;
      color: $dark-blue;
      margin: $button-and-panel-padding 0;
    }
  }

  /* III. Imagebar */
  #imagebar {
    // .layout-stripe sets width 100%, margin 0, padding 0.
    background: $charcoal;
    color: $white;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%; 
      height: 100%;
      top: 0;
      -webkit-backdrop-filter: brightness(50%) blur(2px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
      backdrop-filter: brightness(50%) blur(2px); /* Supported in all major browsers */
    }
    
    @include breakpoint($small-width) {
      display: block;
      background: $white url('../images/banners/williston-beauty-large-banner.jpg') no-repeat center center;
      background-size: 100%;
    }

    @include breakpoint($large-width) {
      background: $white url('../images/banners/williston-beauty-xl-banner.jpg') no-repeat center center;
      background-size: 100%;
    }

    @include breakpoint($max-width) {
      background: $white url('../images/banners/williston-beauty-full-banner.jpg') no-repeat center center;
      background-size: 100%;
    }

    .layout-container {
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
    }
  }

  /* IV. Menubar */

  #menubar {
    background-color: $med-blue;

    // .layout-stripe sets width 100%, margin 0, padding 0.

    // Last menu on mobile view needs a separator too <3
    @include squishy-padding(bottom);

    @include breakpoint($medium-width) {
      padding: 0;
    }

    #menu-background {
      display: none;
    }

    @include breakpoint($medium-width) {
      #menu-background {
        display: block;
      }
    }
  }
}
