/**
 * @file
 * Styles for elements common to all pages (homepage and not)
 */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  @include focus;
}

// Skip to main link should be fixed behind the header by default and pop above the header on focus
#skip-to-main {
  position: fixed;
  top: 0;
  z-index: -1;
  background-color: $white;
  color: $white;
  padding: 1rem;
}

#skip-to-main:focus {
  z-index: 3;
  color: $dark-blue;
}

body .dialog-off-canvas-main-canvas {
  @include full-viewport;
}


#main-content {
  width: 100%;
  margin-bottom: 1rem;

}


/* V. Messages */

.layout-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.layout-stripe {
  width: 100%;
  margin: 0;
  padding: 0;
}

.layout-zone {
  @include clearfix;
  @include squishy-padding(right);
  @include squishy-padding(left);

  max-width: $max-width;
  margin: 0 auto;

  .service_desk &,
  .study_space & {
    margin: 0;
    padding: 0;

    @include breakpoint($small-width) {
      @include squishy-padding(right);
      @include squishy-padding(left);

      margin: 0 auto;
    }
  }
}

.layout-zone-left {
  @include clearfix;
  @include squishy-gutter(right);
  @include squishy-padding(left, stretch);
}

.layout-zone-right {
  @include clearfix;
  @include squishy-padding(right, stretch);
  @include squishy-gutter(left);
}

// TODO: find a better place for this in 01-atoms.
.fa-share-square,
.fa-share-from-square {
  margin-bottom: 0.1em;
  padding-left: 0.1em;
  font-size: 0.85em;
}
