.accordion.expandable.expandable--open button svg {
  transform: rotate(180deg);
}

.accordion-heading button {
  @include accordion-button();
}

.accordion-content {
  display: none;

  &.accordion-content--open {
    display: block;
  }
}
