/**
 * @file
 * Styles for the unified search form, in the header of almsot every page.
 */
#block-lits-theme-litsunifiedsearchblock {
  $border-color: $white;
  $button-and-panel-padding: 1.5rem;
  margin: $button-and-panel-padding 0;
  width: 100%;

  .form-item {
    max-width: 100%;
  }

  input {
    box-sizing: border-box;
    width: 100%;
  }

  details {
    summary {
      width: 100%;
      color: $white;
      background-color: $med-blue;
      padding: 1rem;
      box-sizing: border-box;
    }

    &[open] {
      border: 1px solid $med-blue;
      border-radius: 1px;
      margin: $button-and-panel-padding 0;

      summary {
        background-color: $white;
        color: $charcoal;
        font-weight: bold;
      }
    }
  }

  .panel-content {
    padding: 0 $button-and-panel-padding;
  }

  .tabs {
    // border: 1px solid $gray;
    padding: $button-and-panel-padding;
  }

  // Treat as tabs above the given breakpoint –– see the module php file for form to find the exact breakpoint
  @include breakpoint($small-width) {
    .tablist {
      position: relative;
      justify-content: left;
      display: flex;
      flex-wrap: wrap; 
    }

    .tabs {
      border: none;
      padding: 0;
    }

    details {
      display: contents;

      summary {
        border: none;
        width: auto;

        @include button(
          $padding: 1rem $button-and-panel-padding,
          $margin: 0, 
          $borderright: 2px solid $border-color, 
          $borderleft: 2px solid $border-color,
          $bordertop: 2px solid $border-color
        );
      }

      &[open] summary {
        @include button( 
            $padding: 1rem $button-and-panel-padding,
            $margin: 0, 
            $color: $charcoal, 
            $bg: $white, 
            $borderright: 2px solid $border-color, 
            $borderleft: 2px solid $border-color,
            $bordertop: 2px solid $border-color,
            $font-weight: bold,
          );
      }

      .panel-content {
        background-color: $white;
      }
    }

    button[type="submit"] {
      margin: 0;
    }


    // new syntax for chrome etc
    // check support, if so apply style
    @supports selector(::details-content) {
      details[open]::details-content {
        display: contents;
      }
    }

    .panel-content {
      order: 1; // content comes after tabs
      padding: $button-and-panel-padding;
      width: 100%; // make the content sit on it's own row
    }
  }
}
