@use "sass:math";

//////////////////////////
// General Variables
// Note: colors should go into
// components/_patterns/00-base/global/01-colors/_color-vars.scss
// and breakpoint related vars into
// components/_patterns/00-base/_breakpoints.scss

// Fonts
$font-body: "ars-maquette-web", sans-serif;
$font-heading: "ars-maquette-web", sans-serif;

// available font-weights include: 300, 400, 500, 700
// with italic being available in font-weights 400 and 700

// Spacing
$space: 1rem;

// times
$space-double: $space*2;
$space-triple: $space*3;
$space-quadruple: $space*4;
$space-quintuple: $space*5;
$space-sextuple: $space*6;
$space-septuple: $space*7;

// divided
$space-one-half: math.div($space, 2);
$space-one-third: math.div($space, 3);
$space-one-fourth: math.div($space, 4);
$space-one-fifth: math.div($space, 5);
$space-one-sixth: math.div($space, 6);
$space-one-seventh: math.div($space, 7);
$space-one-eighth: math.div($space, 8);

/**
* Default margin
*/
$default-margin: 0.75rem;

/**
* Used to set the font size for "LITS" in logobar and to add whitespace to the MHC logos and other header parts
*/
$logo-container-height: 4.5rem;
$logo-height: 4rem;
$logo-font-size: $default-margin * 4; // 3rem
$header-gap: $default-margin * 2; // 1.5rem

/**
 search variables 
*/
$search-gap: $default-margin * 4; // 3rem
$search-font-size: $default-margin * 2; // 1.5rem
$search-rounding: 5px;
$search-inner-padding: $default-margin * 2; // 1.5rem

/* Per Andrew's design for homepage intro feature */
:root {
  --side-spacing: 0rem;
}

@media (min-width:20rem) {

  :root {
    --side-spacing: 1.5rem;
  }
}

@media (min-width:34rem) {

  :root {
    --side-spacing: 3rem;
  }
}

* {
  box-sizing: border-box;
}
