@font-face {
  font-family: 'chronicle-bold';
  src: url('/themes/contrib/lits_theme/fonts/chronicle/ChronicleTextG2-Bold-Pro.WOFF') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chronicle-bold-italic';
  src: url('/themes/contrib/lits_theme/fonts/chronicle/ChronicleTextG2-BoldIta-Pro.WOFF') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chronicle-italic';
  src: url('/themes/contrib/lits_theme/fonts/chronicle/ChronicleTextG2-Italic-Pro.WOFF') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chronicle';
  src: url('/themes/contrib/lits_theme/fonts/chronicle/ChronicleTextG2-Roman-Pro.WOFF') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chronicle-semibold';
  src: url('/themes/contrib/lits_theme/fonts/chronicle/ChronicleTextG2-Semibd-Pro.WOFF') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chronicle-semibold-italic';
  src: url('/themes/contrib/lits_theme/fonts/chronicle/ChronicleTextG2-SemiIta-Pro.WOFF') format('woff');
  font-weight: normal;
  font-style: normal;
}
